{% extends 'base.html.twig' %}

{% block title %}Hello {% if app.user and app.user.roles('ROLE_MEMBRE')  %} {{ app.user.prenom }} {% else %}
    Inconnu {% endif %}!{% endblock %}

{% block body %}
<a href="{{ path('shop', { type_str: 'produits' }) }}"><button type="button" class="btn border-warning text-white mb-5" id="payer" >
    Back To The Future
</button></a>
    <section class="container text-light text-center">
        <h1>Votre Panier</h1>   
        <br>

        <div class="row">
            <div class="col-12 text-center">
            {% if items | length > 0  %}
                <table class="table table-bordered table-dark  border-warning text-warning" >
                    <thead>
                        <tr>
                            <th> Produit </th>
                            <th> Prix </th>
                            <th> Quantité </th>
                            <th> Total </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.produit.nom  }}</td>
                                <td>{{ item.produit.prix  }}</td>
                                <td>
                                <a href="{{ path('cart_decrement', {'id' :item.produit.id}) }}"><i class="fas fa-minus"></i></a> 
                                    {{ item.quantity }} 
                                <a href="{{ path('cart_add', {'id' : item.produit.id}) }}"><i class="fas fa-plus"></i></a> 
                                </td>
                                <td>{{ item.produit.prix * item.quantity }}</td>
                                <td><a href="{{ path('cart_remove', {'id' : item.produit.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right">Total</td>
                            <td>{{ total }}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            {% else %}
                
            {% endif %}
                <p>
                {% if app.user %}
                <a href="
                   {{ (path('payement')) }}
                "><button type="button" class="btn btn-outline-warning btn-lg" >Payer {{total}} € <i class="fas fa-hand-holding-usd"></i></button></a>
                </p>
                {% else %}
                     <a href="
                   {{ (path('app_login')) }}
                "><button type="button" class="btn btn-outline-warning btn-lg" >Se connecter pour payer<i class="fas fa-hand-holding-usd"></i></button></a>
                </p>
                {% endif %}
            </div>
        </div>

    </section>
{% endblock %}
