{% extends 'base.html.twig' %}

{% block title %}Hello {% if app.user and app.user.roles('ROLE_MEMBRE')  %} {{ app.user.prenom }} {% else %}
    Inconnu {% endif %}!{% endblock %}

{% block body %}
    <section class="container-fluid text-light">
        <h1>Votre panier</h1>

        <div class="row">
            <div class="col-6">
            {% if items | length > 0  %}
                <table >
                    <thead class="border border-warning">
                        <tr>
                            <th> Produit </th>
                            <th> Prix </th>
                            <th> Quantité </th>
                            <th> Total </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="border border-warning">
                        {% for item in items %}
                            <tr>
                                <td>{{ item.produit.nom  }}</td>
                                <td>{{ item.produit.prix  }}</td>
                                <td>
                                <a href="{{ path('cart_decrement', {'id' :item.produit.id}) }}"><i class="fas fa-minus"></i></a> 
                                    {{ item.quantity }} 
                                <a href="{{ path('cart_add', {'id' : item.produit.id}) }}"><i class="fas fa-plus"></i></a> 
                                </td>
                                <td>{{ item.produit.prix * item.quantity }}</td>
                                <td><a href="{{ path('cart_remove', {'id' : item.produit.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3" class="text-right">Total</td>
                            <td>{{ total }}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            {% else %}
                
            {% endif %}
                <p>
                <a href="{% if app.user %}
                   {{ path('livraisons') }} 
                {% else %}
                    {{ path('app_login') }}
                
                {% endif %}
                
                ">Acheter ! </a>
                </p>
            </div>
        </div>

    </section>
{% endblock %}
