{% extends 'base.html.twig' %}

{% block body %}
    <section class="container-fluid text-light">
        <h1>Adresse de livraison</h1>

        <div class="row">
            <div class="col-6">
                <input type="text" placeholder="Mettez votre nom de famille" name="nom" required>{{ app.user.nom }}</input>
                <input type="text" placeholder="Mettez votre prénom" name="prenom" required>{{ app.user.prenom }}</input>
                <input type="text" placeholder="Mettez votre adresse" name="adresse" required>{{ app.user.adresse }}</input>
                <input type="text" placeholder="Mettez votre ville" name="ville" required>{{ app.user.ville }}</input>
                <input type="number" placeholder="Mettez votre code postal" name="cp" required>{{ app.user.codepostal }}</input>
                <p><a href=""Payer !</p>
                *Livraisons uniquement en France Métropolitaine
            </div>
        </div>
    </section>
{% endblock %}
