{% extends "base.html.twig" %}

{% block title %}Panel Membre ! {% endblock %}

{% block body %}

<section class="container-fluid mt-5" style="color: antiquewhite;">
  <div class="row">
    <div class="col">
      <nav class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-info-tab" href="#v-pills-info" data-toggle="pill" role="tab" aria-selected="true">Vos informations</a>
        <a class="nav-link" id="v-pills-commande-tab" href="#v-pills-commande" data-toggle="pill" role="tab" aria-selected="false">Vos commandes</a>
      </nav>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="jumbotron" style="background: dimgray; color: antiquewhite;">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-info" role="tabpanel" aria-labelledby="v-pills-info-tab">
            <h3 class="text-center">Vos informations : </h3>
            <article>
              <p><h4> Nom : </h4> {{ app.user.nom }}</p>
              <p><h4>Prénom :</h4> {{ app.user.prenom }}</p>
              <p><h4>Code Postal :</h4> {{ app.user.codepostal }}</p>
              <p><h4>Adresse :</h4> {{ app.user.adresse }}</p>
              <p><h4>Ville :</h4> {{ app.user.ville }}</p>
              <p><h4>Email :</h4> {{ app.user.email }}</p>
            </article>
                
          </div>
          <div class="tab-pane fade" id="v-pills-commande" role="tabpanel" aria-labelledby="v-pills-commande-tab">
            <h3 class="text-center">Vos commandes passées : </h3>
            <article class="jumbotron bg-dark">
              <h4>Dernières Factures</h4>
                <div class="row">
                  <div class="col">
                    <p><a href="{{ asset('private/facture/facture.pdf') }}">nom de la facture</a></p>
                  </div>
                </div>
            </article>
          </div>
        </div>
      </div>{# jumbotron#}
    </div>{# col-8#}
  </div>{# row#}
</section>
{% endblock %}