<nav class="sb-topnav navbar navbar-expand navbar-dark ">
    <a class="navbar-brand text-center" href="{{ path('accueil') }}">COG SHOP</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
    ><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline mx-auto mr-0 mr-md-3 my-2 my-md-0" action="{{ path('shop', { type_str:'produits' }) }}" method="GET">
        <div class="input-group">
            <input class="form-control" type="search" placeholder="Rechercher..." id="placeholderSearch" name="s" aria-label="Search" aria-describedby="basic-addon2" value="{{header_s}}" />
            <div class="input-group-append">
                <button class="btn" id="searchButton" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0" id="MonCompte">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            {% if app.user and app.user.hasRole("ROLE_ADMIN") %}
                <a class="dropdown-item" href="{{ path('administration') }}">Mon compte</a>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a> 
            {% elseif app.user and app.user.hasRole("ROLE_MEMBRE") %}
                <a class="dropdown-item" href="{{ path('member') }}">Mon compte</a>
                <a class="dropdown-item" href="{{ path('cart') }}">Panier</a>
                <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a class="dropdown-item" href="{{ path('app_login') }}">Connection</a>
                <a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
            </div>
        </li>
    </ul>
</nav>