<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu text-center">
            <div class="nav pb-5">
                <img src="{{ asset('images/CogShop.png') }}" alt="Logo" style="width: 80%; " class="mx-auto">

                {% if app.user and app.user.hasRole('ROLE_ADMIN') %}

                    <a class="nav-link mx-auto pt-5" href="{{ path('accueil') }}"> Accueil</a>
                    <a class="nav-link mx-auto" href="{{ path('administration', { '_fragment': 'v-pills-home' }) }}">Infos</a>
                    <a class="nav-link mx-auto" href="{{ path('administration', { '_fragment': 'v-pills-profile' }) }}">Historiques des récents membres</a>
                {% else %}
                    <a class="nav-link mx-auto pt-5" href="{{ path('accueil') }}"> Accueil</a>
                    <a class="nav-link mx-auto" href="{{ path('apropos') }}">A propos</a>
                    <a class="nav-link mx-auto" href="{{ path('histoire') }}">Histoire</a>
                {% endif %}
                
               
                <a class="nav-link mx-auto collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    Shop<div class="sb-sidenav-collapse-arrow pr-1"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{{ path('shop', { type_str: 'homme' }) }}">Homme</a>
                        <a class="nav-link" href="{{ path('shop', { type_str: 'femme' }) }}">Femme</a>
                        <a class="nav-link" href="{{ path('shop', { type_str: 'accessoires' }) }}">Accessoires</a>
                        <a class="nav-link" href="{{ path('shop', { type_str: 'produits' }) }}">Produits</a>
                    </nav>
                </div>
                

                <a class="nav-link mx-auto pr-1" href="{{ path('contact') }}">Contact</a>

            </div>
        </div>

        

        <div class="icon py-3 text-center" id="socialiconsbg">
            <a target="_blank" href="https://www.facebook.com" class="socialIcons"><i class="fab fa-facebook-f mr-2"></i></a>
            <a target="_blank" href="https://www.twitter.com" class="socialIcons"><i class="fab fa-twitter mr-2"></i></a>
            <a target="_blank" href="https://www.pinterest.com" class="socialIcons"><i class="fab fa-pinterest mr-2"></i></a>
            <a target="_blank" href="https://www.google.com" class="socialIcons"><i class="fab fa-google-plus-square mr-2"></i></a>
        </div>
       

        {% if app.user %}
            <div class="sb-sidenav-footer" id="sidefooter">
            <div class="small">Bienvenue: </div>
                <section class="font-weight-bold">{{ app.user.prenom }}</section> 
        {% else %}
            <div class="sb-sidenav-footer" id="sidefooter">
            <div class="small font-weight-bold"><a href="{{ path('app_login') }}">Connectez-vous</a></div>
        {% endif %} 
        
    </nav>
</div>