{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}


{% block meta %}
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="{{ absolute_url(path('produit_single', { type_str: produit.typeStr,  id: produit.id , slug: produit.slug  })) }}" />
    <meta property="og:type"          content="product" />
    <meta property="og:title"         content="{{ produit.nom }}" />
    <meta property="og:description"   content="{{produit.description}}" />
    <meta property="og:image"         content="{{asset('images/' ~ produit.img )}}" />
{% endblock %}


{% block body %}
<!-- card produit -->
<h1 class="text-light text-center" id="h1single"></h1>
<a href="{{ path('shop', { type_str: 'produits' }) }}"><button type="button" class="btn border-warning text-white mb-5" id="payer" >
    Back To The Future
</button></a>


<section class="container-fluid">
    <div class="container">
       <div class="row">
        <div class="col-md-6 border border-2 border-warning bg-light">
            <h2 id="h2single" class="text-center p-2">{{produit.nom}}: </h2>
            <div class="px-5"><p id="psingle" >Description: {{produit.description}}</p><br>
              <p id="psingleprix" class="text-center"> Prix: {{ produit.prix }} €
              <a class="pl-5" href="{{ path('cart_add', {'id': produit.id}) }}"><svg width="75" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><style>
     
                    .line-cart1 {animation:line-cart1-arrow 1s infinite;}
                    @keyframes line-cart1-arrow {
                        0%{transform: translate3d(0, -4px, 0);}
                        50%{transform: translate3d(0, 0, 0);}
                        100%{transform: translate3d(0, -4px, 0);}
                    }
               </style><path d="M7 9.7793H21.027L22.9752 23.8063M70.9009 23.8063H93.5L84.9279 65.8874H28.8198L22.9752 23.8063M22.9752 23.8063H42.8468" stroke="rgba(203,157,50,1)" stroke-width="4.0px"></path><path class="line-cart1" d="M56.8739 9V50.3018M56.8739 50.3018L45.1847 38.6126M56.8739 50.3018L68.5631 38.6126" stroke="rgba(203,157,50,1)" stroke-width="4.0px" stroke-linecap="round" style="animation-duration: 1.3s;"></path><circle cx="32.7162" cy="82.1487" r="8.57207" fill="#fff" stroke="rgba(203,157,50,1)" stroke-width="4.0px"></circle><circle cx="84.1486" cy="82.1487" r="8.57207" fill="#fff" stroke="rgba(203,157,50,1)" stroke-width="4.0px"></circle></svg></a>
               </p>

               <div class="fb-share-button pb-2" data-href="{{ absolute_url(path('produit_single', { type_str: produit.typeStr,  id: produit.id , slug: produit.slug  })) }}" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwf3cogshop.ovh%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

            </div>
          </div>
              <div class="col-md-6 border border-2 border-warning bg-light p-2">  
                <img src="{{asset('images/' ~ produit.img )}}"  alt="imageDuProduit" width="100%" >
           </div>  
        </div>  
    </div>
    {% if produit.comments| length %}
    <!-- avis produit -->
    <div class="container mt-3"  >
        <div class="row justify-content-center mt-3">           
            <div class="col-md-6 mt-3">
                <div class="card shadow-lg rounded-lg mt-3 mb-3  border-2 border-warning ">
                    <div class="card-header">
                        <h2 class="text-center font-weight-light my-4" id="h2com">Avis client</h2>
                    </div>
                    <div class="card-body">
                            {% for comment in produit.comments %}
                        <p class="h5" id="client">Avis publié par : {{ comment.user.nom }} {{ comment.user.prenom }} le {{ comment.date|date('d/m/Y') }}</p>
                        <p class="h6" id="avis">{{comment.commentaire }}</p> 
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% endif %}
   <!-- form avis -->
            <div class="container mt-3"  >
                <div class="row justify-content-center mt-3">
                    <div class="col-md-6 mt-3">
                        <div class="card shadow-lg  rounded-lg mt-3 mb-3  border border-warning">
                            <div class="card-header"><h2 class="text-center font-weight-light my-4" id="h2com">Avis</h2></div>
                                <div class="card-body">
                                    {{ form_start(form)}}
                                        {{ form_widget(form) }}
                                        <button type="submit" class="btn border-warning" id="payer">
                                            Laisser Votre Avis
                                        </button>
                                    {{ form_end(form)}}
                                </div> 
                        </div>
                    </div>
                </div>
            </div>
   
</section>
{% endblock %}