{% extends 'base.html.twig' %}

{% block title %}CogShop Vetements {{ type_str }} {% endblock %}

{% block body %}


    {# Recherche de produit #}
    <h2 class="text-light text-center py-5">{{ type_str|title }}</h2>

    <div class="container-fluid text-light pb-5 justify-content-center">
        <form method="GET">

            <div class="row">
                <div class="col-lg-3">
                    
                    <input class="form-control" type="text" placeholder="Rechercher..." name="s" is="search" value="{{ params.s }}">
                </div>

                <div class="col-lg-1">
                    <input class="form-control" type="number" placeholder="Prix min" name="p_min" step="1" min="0" value="{{ params.p_min }}">
                </div>

                <div class="col-lg-1">
                    <input class="form-control" type="number" placeholder="Prix max" name="p_max" step="1" max="300" value="{{ params.p_max }}">
                </div>
                <div class="col-lg-1">
                    <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect01" name="ordre" >
                            <option value="0">Choose...</option>
                            <option value="nouveautes" {% if params.ordre == 'nouveautes' %}selected{% endif %}>Nouveautés</option>
                            <option value="croissant" {% if params.ordre == 'croissant' %}selected{% endif %}>Croissant</option>
                            <option value="decroissant" {{ params.ordre == 'decroissant' ? 'selected' }}>Décroissant</option>                          
                        </select>
                    </div>
                </div>

                <div class="col-lg-1">
                    <button class="btn btn-outline-warning my-2 ml-2 my-sm-0"  type="submit">Valider</button>
                </div>
            </div>
        </form>
        
    </div>

    





    <section class="container-fluid">  
        <div class="row">
            {% for produit in produits  %}
                <div class=" col-sm-12 col-md-6 col-lg-3 mb-3">
                    <div class="card" id="shop" name="shop">
                        <img src="{{ asset('images/' ~ produit.img ) }}" class="card-img-top border border-dark" alt="image produit">
                        <div class="card-body ">
                            <h4 class="card-title text-center" id="h2single">{{ produit.nom }}</h4>
                            <p class="card-text text-right" id="card-text">{{ produit.prix }} €</p>
                            <a href="{{ path('produit_single', { type_str: produit.typeStr, id:produit.id, slug:produit.slug}) }}" class="btn btn" id="btnshop">Détail du produit</a>
                            <!-- panier qui bouge  -->
                            <a href="{{ path('cart_add', {'id': produit.id}) }}" class="pl-5" ><svg width="70" height="80" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><style>

                                .line-cart1 {animation:line-cart1-arrow 0.7s infinite;}
                                @keyframes line-cart1-arrow {
                                    0%{transform: translate3d(0, -8px, 0);}
                                    50%{transform: translate3d(0, 0, 0);}
                                    100%{transform: translate3d(0, -8px, 0);}
                                }
                            
                            </style><path d="M7 9.7793H21.027L22.9752 23.8063M70.9009 23.8063H93.5L84.9279 65.8874H28.8198L22.9752 23.8063M22.9752 23.8063H42.8468" stroke="rgba(203,157,50,1)" stroke-width="4.0px"></path><path class="line-cart1" d="M56.8739 9V50.3018M56.8739 50.3018L45.1847 38.6126M56.8739 50.3018L68.5631 38.6126" stroke="rgba(203,157,50,1)" stroke-width="4.0px" stroke-linecap="round" style="animation-duration: 1.3s;"></path><circle cx="32.7162" cy="82.1487" r="8.57207" fill="#fff" stroke="rgba(203,157,50,1)" stroke-width="4.0px"></circle><circle cx="84.1486" cy="82.1487" r="8.57207" fill="#fff" stroke="rgba(203,157,50,1)" stroke-width="4.0px"></circle></svg></a>
                            <!-- fin du panier qui bouge -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <br>
    {# Pagination #}
    <nav aria-label="...">
        <ul class="pagination justify-content-center pb-3">
            <li class="page-item {{ page == 1 ? 'disabled' }}" >
                <a class="page-link" href="{{ path('shop', params | merge ({ page:page - 1 }) ) }}" tabindex="-1">Previous</a>
            </li>
            {% for p in 1..nbPages %}
                <li class="page-item {{ p == page ? 'active'}}"><a class="page-link" href="{{ path('shop', params | merge ({ page:p })) }}">{{ p }}</a></li>
            {% endfor %}
            
            <li class="page-item {{ page == nbPages ? 'disabled' }}">
                <a class="page-link" href="{{ path('shop',  params | merge ({ page:page + 1 }) ) }}">Next</a>
            </li>
        </ul>
    </nav>

{% endblock %}