{% extends 'base.html.twig' %}

{% block title %}CogShop Vetements {{ type_str }} {% endblock %}

{% block body %}
<h2 class="text-light text-center py-5">{{ type_str }}</h2>
<section class="container-fluid">  
                <div class="row">
                {% for produit in produits  %}
                    <div class="col-3 mb-3">
                    <div class="card" id="shop" name="shop" style="width: 25rem; height: 40rem;">
                        <img src="{{ asset('images/' ~ produit.img ) }}" class="card-img-top border border-dark" alt="image produit">
                        <div class="card-body">
                            <h4 class="card-title text-center">{{ produit.nom }}</h4>
                            <p class="card-text text-right" id="card-text">{{ produit.prix }} €</p>
                            <a href="#" class="btn btn" id="btnshop">Détail du produit</a>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
{% endblock %}