<page backtop="20mm" backright="10mm" backbottom="20mm" backleft="10mm">
    <table class="header">
        <tr>
            <td class="text-left">
                <b>Prénom Nom</b>
                <br>Adresse
                <br>Code Postal
                <br>Pays
            </td>
        </tr>
        <tr class="text-right">
            <td>CogShop</td>
            <td>204 ave de Colmar</td>
            <td>67200</td>
            <td>Strasbourg</td>
            <td>www.wf3cogshop.ovh</td>
        </tr>
    </table>
    <div class="separator"></div>
    <table>
        <thead>
            <th>Nom : </th>
            <th>Prenom : </th>
            <th>Adresse : </th>
        </thead>
    </table>
        <tbody>
            <tr>
                <td class="">{{user.nom}}</td>
                <td class="">{{user.prenom}}</td>
                <td class="">{{user.adresse}}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <th>Produit : </th>
            <th>Quantité : </th>
            <th>Prix : </th>
        </thead>
        <tbody>
        {% for produit in produit %}
            <td>{{ produit.nom }}</td>
            <td>{{ produit.quantity }}</td>
            <td>{{ produit.prix }}</td>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td clospan="8">Total : </td>
                <td class="text-right">{{ produit.total }}</td>
            </tr>
        </tfoot>
    </table>
