{% extends "baseP.html.twig" %}

{% block title %}Panel Admin{% endblock %}

{% block body %}
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Infos</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Historiques de commandes</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Modifier Produits</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Paramêtres</a>
</div>
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
    <h1>Vos informations : <br>
        Nom : {{ app.user.nom }} <br>
        Prénom : {{ app.user.prenom }} <br>
        Code Postal : {{ app.user.codepostal }} <br>
        Adresse : {{ app.user.adresse }} <br>
        Ville : {{ app.user.ville }} <br>
        Email : {{ app.user.email }} <br>
  </div>
  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
  <div class="card-header text-light"><i class="fas fa-table mr-1"></i>DataTable Example</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered text-light" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
            </tr>
          </thead>
          <tbody>
          {% for command in Commands %}
            <tr>
              <td>{{ app.user.nom }}</td>
              <td>{{ app.user.prenom }}</td>
            </tr>
          </tbody>
          </table>
            </div>
          </div>
    {% endfor %}
  </div>
  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
</div>
{% endblock %}